@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="background-color: #3a0647">
        <a href="https://localhost:44336/login" target="_blank">Log Out</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
