@inherits LayoutComponentBase

@using DbAccess
@inject IUserDb user

<div class="sidebar" hidden="@NavMenuHide">
    <NavMenu />
</div>

<div class="main">


    <div class="content px-4">
        @Body
    </div>
</div>


@code
{   
    private bool hideNavMenu = false;
    private string NavMenuHide => hideNavMenu ? "hidden" : null;

    protected override void OnInitialized()
    {
        //if (string.IsNullOrWhiteSpace(user.user.Username))
        //{
        //    hideNavMenu = true;
        //}
        //else
        //{
        //    hideNavMenu = false;
        //}
    }
}