@page "/fetchdata"

@using SEP6_TEST.Models
@using SEP6_TEST.ApiAccess
@using SEP6_TEST.ApiModels
@using SEP6_TEST.DbAccess
@using SEP6_TEST.Components;

@inject IMovieAccessInfoApi movieApi
@inject IMovieInfoDb moviesDb

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (Loading == true)
{
    <p>Loading...</p>
}
else
{


    @*@foreach (var movie in Movies)
        {

        }*@

    <MovieHolderComponent movie=@movie>
    </MovieHolderComponent>
}

@code {
    private List<Movie> Movies = new List<Movie>();

    private List<MovieBaseInfo> MoviesBaseInfo = new List<MovieBaseInfo>();

    private bool Loading = false;

    protected override async Task OnInitializedAsync()
    {
        Loading = true;
        //await moviesDb.GetAllMovies();
        Movies = moviesDb.Movies;

        //should get the base info for every movie, add all async methods to a list and run them async

        Loading = false;
    }

    Movie movie = new Movie { Id = 1, rating = new Rating { MovieId = 1, Rating1 = 6.6, Votes = 245}, Title = "Fat & Furious 6", Year = 2025 };
}
