@page "/"
@using SEP6_TEST.Components;




<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Hello, welcome to SepFlix!</h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p>Switch to: </p>
        </div>
        <div class="col-2">
            @if (wantToLogin == false)
            {

                <button class="btn btn-primary" @onclick="SwitchForm">Register form</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="SwitchForm">Login form</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" hidden="@HideLogin">
            <Login>

            </Login>
        </div>
        <div class="col-md-12" hidden="@HideRegister">
            <Register>

            </Register>
        </div>
    </div>
</div>



@code 
{
    private bool wantToLogin = false;
    private bool wantToRegister = true;

    private string HideLogin => wantToLogin ? "hidden" : null;
    private string HideRegister => wantToRegister ? "hidden" : null;


    void SwitchForm()
    {
        wantToLogin = !wantToLogin;
        wantToRegister = !wantToRegister;
    }
}

<style>

</style>
