
@using SEP6_TEST.Models;
@using SEP6_TEST.DTO;

@inject NavigationManager navigationManager


<div class="card text-white bg-transparent border-info shadow w-auto" style="width: 18rem;">
    <img class="card-img-top" src="/Images/diesel.png" alt="Movie Image">
    <div class="card-body">
        <h5 class="card-title text-center font-weight-bold">@title</h5>
    </div>
    <div class="card-footer bg-transparent border-info">
        <h6>Year: @year</h6>
        <h6>Rating: @rating/10 out of @votes ratings</h6>
    </div>
</div>


@code {
    string title = "Movietiemie";
    string year = "1999";
    string rating = "5.6";
    string votes = "321";
    //[Parameter] public MovieDTO movie { get; set; }
}
