@using SEP6_TEST.Models;

<div class="card text-white bg-info overflow-auto" style="width: 18rem;">
    <div class="card-body">

        
        <h5 class="card-title pt-2">Review by @Review.Username.Substring(0, Review.Username.IndexOf('@'))</h5>

        <p class="card-text">@Review.ReviewText</p>

    </div>
</div>

@code {
    [Parameter] public MovieReview Review { get; set; }
}
